// (c) Copyright 2006 International Game Technology

// $Revision: 1$

// Modifications:
// Author                                 Date          Explanation
// ------------------------------------   -----------   -------------------------
// Paul W Bolton                          05 Oct 2006   Created

//  Purpose:
//    Defines all the configuration items specific to this stage number accross all paytables used by the theme.

// ID         - Name or title of item.
// Type       - Data item, list of data, numeric value, or boolean.
// Data       - Value of config item.
// Reference  - Range of values, or name of list.
// Determiner - Who can change data.
// E-Squared  - Store this item in E2.

// Betting configuration items
"NUMBER OF SUBBETS"              NUMERIC 50
"MINIMUM NUMBER OF SUBBETS"      NUMERIC 1
"MINIMUM TOTAL BET"              NUMERIC 1
"SUBBETS PER CREDIT"             NUMERIC 1

