// (c) Copyright 2007 International Game Technology

// $Revision: 3$

// Modifications:
// Author                                 Date          Explanation
// ------------------------------------   -----------   -------------------------
// SlotCalc 2000, user: wfoster           04 Mar 2004   Created: 01:28:29 PM

//  Purpose:
//    Defines all the game configuration items.

// ID         - Name or title of item.
// Type       - Data item, list of data, numeric value, or boolean.
// Data       - Value of config item.
// Reference  - Range of values, or name of list.
// Determiner - Who can change data.
// E-Squared  - Store this item in E2.

// Betting configuration items
"MAXIMUM TOTAL BET LIST"         LIST 50,100,150,200,250,300,350,400,450,500,750,1000,1250,1500,1750,2000,2250,2500
"MAXIMUM TOTAL BET"              ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 1"            ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 2"            ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 3"            ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 5"            ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 10"           ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 15"           ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 20"           ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 25"           ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 40"           ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 50"           ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 100"          ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 200"          ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 250"          ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 500"          ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 1000"         ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 2000"         ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 2500"         ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 5000"         ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 10000"        ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 20000"        ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 25000"        ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 50000"        ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 100000"       ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 200000"       ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 250000"       ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"MAXIMUM TOTAL BET 500000"       ITEM 500 "MAXIMUM TOTAL BET LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY

// For MultiDenom support, allow the item to change.
// For Single Denom support, there should be one item in the list and it must be unmodifiable.
"ENABLED PLAYER DENOMINATIONS"  BITFIELD NONE "GAME DENOMINATION LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY

// Available game-specific denominations.
"AVAILABLE PLAYER DENOMINATIONS" BITFIELD ALL "GAME DENOMINATION LIST" UNMODIFIABLE FALSE

// Flag indicating if the game is enabled
"ENABLED"                        BOOLEAN FALSE REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY

// Double Up Configuration
"DOUBLE UP ENABLED" BOOLEAN FALSE OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY
"DOUBLE UP TYPE LIST" LIST "INTERNATIONAL"
"DOUBLE UP TYPE" ITEM "INTERNATIONAL" "DOUBLE UP TYPE LIST" OPERATOR_OR_GREATER_ON_COLD_PU+SYSTEM_SETUP_KEY

////////////////////////////////////////////////////
//  INTL Licensing configuration
// Licensed game-specific denominations.
"LICENSED PLAYER DENOMINATIONS" BITFIELD ALL "GAME DENOMINATION LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER

// Define attributes to apply special behavior
"PAYTABLE ATTRIBUTES" BITFIELD NONE "PAYTABLE ATTRIBUTE LIST" REMOTELY_CONFIGURABLE+OPERATOR_OR_GREATER

// Define maximum total bet for your jurisdiction. This value must come from the MAXIMUM TOTAL BET LIST. It must not exceed 1000.
"JURISDICTIONAL MAXIMUM TOTAL BET" NUMERIC 1000 UNMODIFIABLE
